[Unit]
Description=AReS Executive Applet
After=network.target ares-var-run.mount var-volatile.mount

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/bridge/src/prj-bridge
#ExecStart=/bin/sh -c '/usr/bin/stdbuf -oL /ares/bin/executive  >> /var/log/executive.log 2>> /var/log/executive.log'
ExecStart=/bridge/src/prj-bridge/test
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=2
StandardOutput=append:/var/log/bridge.log
StandardError=append:/var/log/bridge.log
SyslogIdentifier=%n

