[Unit]
Description=starts the wifi AP
After=network.target var-volatile.mount wifi_reset.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/wifi/
ExecStart=python3 wifi_ap_service.py
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=2
StandardOutput=append:/var/log/wifi.log
StandardError=append:/var/log/wifi.log
SyslogIdentifier=%n

