[Unit]
Description=control a hexapod through a web browser
After=network.target var-volatile.mount hub.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/hexapod_controller
ExecStart=node server.js
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=10
StandardOutput=append:/var/log/hexapod_controller.log
StandardError=append:/var/log/hexapod_controller.log
SyslogIdentifier=%n

