[Unit]
Description=lan chat service
After=network.target var-volatile.mount

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/nodejs
ExecStart=node server.js
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=10
StandardOutput=append:/var/log/node.log
StandardError=append:/var/log/node.log
SyslogIdentifier=%n

