[Unit]
Description=starts the 3DOF hexapod service
After=network.target var-volatile.mount wifi_reset.service snap.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/hexapod3/src/
ExecStart=python3 main.py
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=2
StandardOutput=append:/var/log/hexapod3.log
StandardError=append:/var/log/hexapod3.log
SyslogIdentifier=%n

