[Unit]
Description=web key logger service for controlling robots through a web browser
After=network.target var-volatile.mount hub.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/web_key_logger
ExecStart=node server.js
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=10
StandardOutput=append:/var/log/web_key_logger.log
StandardError=append:/var/log/web_key_logger.log
SyslogIdentifier=%n

