[Unit]
Description=starts the rover service
After=network.target var-volatile.mount wifi_reset.service snap.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/rover/src/
ExecStart=python3 main.py
#ExecStartPre=/bin/sleep 11
Restart=always
RestartSec=2
StandardOutput=append:/var/log/rover.log
StandardError=append:/var/log/rover.log
SyslogIdentifier=%n

