[Unit]
Description=set a random mac for the ethernet device

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/random_mac.py
